name: build docker image

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/madelynnsadie/synergy:latest
