name: build docker image

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: log in
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
          
      - name: checkout code
        uses: actions/checkout@v4

      - name: docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
              ghcr.io/${{ github.repository }}:${{ github.event.release.tag_name }}
              ghcr.io/${{ github.repository }}:latest